
body {
    font-family: 'PT Serif', serif;
}
.header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .me {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.header .social-icon {
    width: 25px;
    height: 25px;
    border-radius: 2.5px
}
.header a {
    padding: 5px 10px;
    transition: all 100ms;
    border-bottom: 1px solid #fff;
}
.header a:hover {
    border-bottom: 1px solid #ddd;
}
code {
    display: block;
    background: darkslateblue;
    color: #eee;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.1);
}
.container {
    width: 450px;
}
.main-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.google-oauth-btn .google-oauth-img {
    height: 65px;
}